.container.white{
    display: flex;
    flex-direction: column-reverse;
}
.container.black{
    display: flex;
    flex-direction: column;
}
#board{
    width: 480px;
    float: left;
}
#selected, #pieces{
    clear: both;
}
#game-info{
    display: inline-block;
}
#pieces.hidden{
    display: none;
}
#pieces{
    height: 130px;
    width:280px;
    background-color: rgb(92, 155, 209);
    position:relative;
    border-radius: 5px;
    text-align: center;
    padding-top:1px;
}
#pieces.white{
    margin-bottom:30px;
}
#pieces.black{
    margin-top:30px;
}
#pieces::after{
    content:'';
    width:0;
    height:0;
    position:absolute;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
}
#pieces.black::after{
    border-top: 30px solid transparent;
    border-bottom: 30px solid rgb(92, 155, 209);
    top:-50px;
    right:10px;
}
#pieces.white::after{
    border-bottom: 30px solid transparent;
    border-top: 30px solid rgb(92, 155, 209);
    bottom:-50px;
    right:10px;
}
#pieces button{
    width: 45px;
    height: 45px;
    font-size: 30px;
    border: 1px solid black;
    margin: -1px -1px 0 0;
    background-color: burlywood;
}
#pieces p{
    height:20px;
    color:white;
    font-weight: bold;
}

@keyframes selected {
    0%{
        background-color: transparent;
    }
    50%{
        background-color: rgba(208, 255, 0, 0.548);
    }
    100%{
        background-color: transparent;
    }
}
.selected .square{
    animation-duration: 2s;
    animation-name: selected;
    animation-iteration-count: infinite;
}


.board-row{
clear: both;
}
.square{
    width: 58px;
    height: 58px;
    font-size: 40px;
    border: none;
    background-color: transparent;
}
.square-container{
    float: left;
    width: 60px;
    height: 60px;
    background-color: burlywood;
    border: 1px solid black;
    margin: -1px -1px 0 0;
    box-sizing: border-box;
}

.board-row:not(.board-row:nth-child(2n)) > .square-container:nth-child(2n){
    background-color: white;
}
.board-row:nth-child(2n) > .square-container:not(.square-container:nth-child(2n)){
    background-color: white;
}


.moveable .square{
    background-color: rgba(0, 255, 179, 0.568) !important;
}
.unmoveable .square{
    background-color: rgba(255, 0, 0, 0.568) !important;
}